.surf__container {
   height: 1951px;
   position: relative;
   overflow: hidden;
}

._line {
   width: 1px;
   height: 1951px;
   position: absolute;
   background: #FFFFFF;
   opacity: 0.1;
}

.surf__line_1 {
   top: 0;
   left: 167px;
}

.surf__line_2 {
   top: 0;
   left: 594px;
}

.surf__line_3 {
   top: 0;
   left: 1020px;
}

.surf__background {
   position: relative;
   top: 367px;
   left: 90px;
   height: 640px;
   max-width: 1259px;
}

.surf__background-location {
   position: absolute;
   top: 268px;
   left: 166px;
}

.surf__background-oval_0 {
   position: absolute;
   top: 491px;
   left: 1090px;
}

.surf__background-oval_1 {
   position: absolute;
   top: 330px;
   left: -13px;
}

.surf__background-oval_2 {
   position: absolute;
   top: 212px;
   left: 530px;
}

.surf__background-oval_3 {
   position: absolute;
   top: 318px;
   left: 338px;
}

.surf__background-oval_4 {
   position: absolute;
   top: 501px;
   left: 413px;
}

.surf__background-oval_5 {
   position: absolute;
   top: 395px;
   left: 798px;
}

.surf__background-oval_6 {
   position: absolute;
   top: 555px;
   left: 637px;
}

.surf__background-oval_7 {
   position: absolute;
   top: 290px;
   left: 136px;
}

.surf__background-text {
   position: absolute;
   z-index: 0;
   top: 190px;
   left: -48px;
   height: 200px;
   opacity: 0.02;
}

.surf__background_location-big {
   position: absolute;
   top: 219px;
   right: 0;
   height: 350px;
}

.surf__coordinates {
   position: absolute;
   top: 538px;
   right: 70px;
   height: 360px;
}

.surf__title {
   position: absolute;
   top: 161px;
   left: 245px;
   font-weight: 800;
   font-size: 80px;
   line-height: 1;
   text-transform: uppercase;
   display: flex;
   flex-wrap: wrap;
   width: 187px;
   height: 100px;
   justify-content: flex-end;
   gap: 5px;

   & .span {
      background: #4AF6CD;
   }
}

.surf__block {
   display: flex;
   flex-direction: column;
   gap: 19px;
   position: absolute;
   top: 309px;
   right: 80px;
   width: 500px;
   height: 100px;
}

.surf__title-small {
   display: flex;
   justify-content: flex-end;
   gap: 16px;
}

.surf__title-small span {
   display: inline-block;
   height: 42px;
   width: 1px;
   background: rgb(255, 254, 254);
}

.info {
   width: 283px;
   height: 216px;
   position: absolute;
   top: 632px;
   right: 100px;
   background: #0F1010;
   mix-blend-mode: normal;
   opacity: 0.7;
   border-radius: 6px;
}

.info__arrow {
   position: absolute;
   top: 32px;
   right: 31px;
}

.info__text {
   display: flex;
   flex-direction: column;
   gap: 13px;
   padding: 24px 0 0 32px;
}

.info__text-title {
   font-weight: 800;
   font-size: 18px;
   line-height: 1.22;
   text-transform: uppercase;
}

.info__text-subtitle {
   font-weight: 400;
   font-size: 16px;
   line-height: 2;
   width: 80px;
   border-top: 1px solid #4AF6CD;
   ;
}

.info__data {
   padding-top: 22px;
   display: flex;
   justify-content: space-evenly;
   text-align: center;

   & h6 {
      font-weight: 800;
      font-size: 16px;
      line-height: 19px;
      text-align: center;
      padding: 3px 0 9px 0;
   }

   & p {
      font-weight: 300;
      font-size: 10px;
      line-height: 1.2;
      text-align: center;
      text-transform: uppercase;
   }
}